<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kedacom.ezFireAPI.qj.dao.BQjGnfzDao">
  <resultMap id="BaseResultMap" type="com.kedacom.ezFireAPI.qj.bean.BQjGnfz">
    <id column="FZBH" jdbcType="VARCHAR" property="fzbh" />
    <result column="FZMC" jdbcType="VARCHAR" property="fzmc" />
    <result column="FZJB" jdbcType="DECIMAL" property="fzjb" />
    <result column="FZXS" jdbcType="VARCHAR" property="fzxs" />
    <result column="FZMS" jdbcType="VARCHAR" property="fzms" />
    <result column="FJFZBH" jdbcType="VARCHAR" property="fjfzbh" />
    <result column="FZNBBM" jdbcType="VARCHAR" property="fznbbm" />
    <result column="XSSX" jdbcType="DECIMAL" property="xssx" />
    <result column="RKRY" jdbcType="VARCHAR" property="rkry" />
    <result column="RKSJ" jdbcType="DATE" property="rksj" />
    <result column="GXRY" jdbcType="VARCHAR" property="gxry" />
    <result column="GXSJ" jdbcType="DATE" property="gxsj" />
    <result column="YLZD1" jdbcType="VARCHAR" property="ylzd1" />
    <result column="YLZD2" jdbcType="VARCHAR" property="ylzd2" />
    <result column="YLZD3" jdbcType="VARCHAR" property="ylzd3" />
  </resultMap>
  <sql id="Base_Column_List">
    FZBH, FZMC, FZJB, FZXS, FZMS, FJFZBH, FZNBBM, XSSX, RKRY, RKSJ, GXRY, GXSJ, YLZD1, 
    YLZD2, YLZD3
  </sql>

  <!-- 分组名称 分组编号 分组级别 分组形式 分组描述 入库人员 group by(分组编号) -->
  <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT * FROM (
    select t.* , rownum as rn from
    (select
    <include refid="Base_Column_List" />
    from B_QJ_GNFZ
    where 1 = 1
    <if test="fzmc != null and fzmc != ''">
      AND FZMC LIKE #{fzmc,jdbcType=VARCHAR}
    </if>
    <if test="fzbh != null and fzbh != ''">
      AND  FZBH = #{fzbh,jdbcType=VARCHAR}
    </if>
    <if test="fzjb !=null and fzjb != ''">
      AND FZJB = #{dxbh,jdbcType=DECIMAL}
    </if>
    <if test="fzxs !=null and fzxs !=''">
      AND FZXS = #{fzxs,jdbcType=VARCHAR}
    </if>
    <if test="fzms !=null and fzms !=''">
      AND FZMS LIKE #{fzms,jdbcType=VARCHAR}
    </if>
    <if test="rkry !=null and rkry !=''">
      AND RKRY LIKE #{rkry,jdbcType=VARCHAR}
    </if>
    ORDER BY FZBH
    ) t
    WHERE 1 = 1
    <if test="limit != null and limit != ''">
      AND rownum &lt; = #{offset, jdbcType=INTEGER} + #{limit, jdbcType=INTEGER}
    </if>
    )
    WHERE 1=1
    <if test="offset != null and offset != ''">
      AND rn &gt; #{offset, jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from B_QJ_GNFZ
    where FZBH = #{fzbh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from B_QJ_GNFZ
    where FZBH = #{fzbh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kedacom.ezFireAPI.qj.bean.BQjGnfz">
    insert into B_QJ_GNFZ (FZBH, FZMC, FZJB, 
      FZXS, FZMS, FJFZBH, 
      FZNBBM, XSSX, RKRY, 
      RKSJ, GXRY, GXSJ, YLZD1, 
      YLZD2, YLZD3)
    values (#{fzbh,jdbcType=VARCHAR}, #{fzmc,jdbcType=VARCHAR}, #{fzjb,jdbcType=DECIMAL}, 
      #{fzxs,jdbcType=VARCHAR}, #{fzms,jdbcType=VARCHAR}, #{fjfzbh,jdbcType=VARCHAR}, 
      #{fznbbm,jdbcType=VARCHAR}, #{xssx,jdbcType=DECIMAL}, #{rkry,jdbcType=VARCHAR}, 
      #{rksj,jdbcType=DATE}, #{gxry,jdbcType=VARCHAR}, #{gxsj,jdbcType=DATE}, #{ylzd1,jdbcType=VARCHAR}, 
      #{ylzd2,jdbcType=VARCHAR}, #{ylzd3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kedacom.ezFireAPI.qj.bean.BQjGnfz">
    insert into B_QJ_GNFZ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fzbh != null">
        FZBH,
      </if>
      <if test="fzmc != null">
        FZMC,
      </if>
      <if test="fzjb != null">
        FZJB,
      </if>
      <if test="fzxs != null">
        FZXS,
      </if>
      <if test="fzms != null">
        FZMS,
      </if>
      <if test="fjfzbh != null">
        FJFZBH,
      </if>
      <if test="fznbbm != null">
        FZNBBM,
      </if>
      <if test="xssx != null">
        XSSX,
      </if>
      <if test="rkry != null">
        RKRY,
      </if>
      <if test="rksj != null">
        RKSJ,
      </if>
      <if test="gxry != null">
        GXRY,
      </if>
      <if test="gxsj != null">
        GXSJ,
      </if>
      <if test="ylzd1 != null">
        YLZD1,
      </if>
      <if test="ylzd2 != null">
        YLZD2,
      </if>
      <if test="ylzd3 != null">
        YLZD3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fzbh != null">
        #{fzbh,jdbcType=VARCHAR},
      </if>
      <if test="fzmc != null">
        #{fzmc,jdbcType=VARCHAR},
      </if>
      <if test="fzjb != null">
        #{fzjb,jdbcType=DECIMAL},
      </if>
      <if test="fzxs != null">
        #{fzxs,jdbcType=VARCHAR},
      </if>
      <if test="fzms != null">
        #{fzms,jdbcType=VARCHAR},
      </if>
      <if test="fjfzbh != null">
        #{fjfzbh,jdbcType=VARCHAR},
      </if>
      <if test="fznbbm != null">
        #{fznbbm,jdbcType=VARCHAR},
      </if>
      <if test="xssx != null">
        #{xssx,jdbcType=DECIMAL},
      </if>
      <if test="rkry != null">
        #{rkry,jdbcType=VARCHAR},
      </if>
      <if test="rksj != null">
        #{rksj,jdbcType=DATE},
      </if>
      <if test="gxry != null">
        #{gxry,jdbcType=VARCHAR},
      </if>
      <if test="gxsj != null">
        #{gxsj,jdbcType=DATE},
      </if>
      <if test="ylzd1 != null">
        #{ylzd1,jdbcType=VARCHAR},
      </if>
      <if test="ylzd2 != null">
        #{ylzd2,jdbcType=VARCHAR},
      </if>
      <if test="ylzd3 != null">
        #{ylzd3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kedacom.ezFireAPI.qj.bean.BQjGnfz">
    update B_QJ_GNFZ
    <set>
      <if test="fzmc != null">
        FZMC = #{fzmc,jdbcType=VARCHAR},
      </if>
      <if test="fzjb != null">
        FZJB = #{fzjb,jdbcType=DECIMAL},
      </if>
      <if test="fzxs != null">
        FZXS = #{fzxs,jdbcType=VARCHAR},
      </if>
      <if test="fzms != null">
        FZMS = #{fzms,jdbcType=VARCHAR},
      </if>
      <if test="fjfzbh != null">
        FJFZBH = #{fjfzbh,jdbcType=VARCHAR},
      </if>
      <if test="fznbbm != null">
        FZNBBM = #{fznbbm,jdbcType=VARCHAR},
      </if>
      <if test="xssx != null">
        XSSX = #{xssx,jdbcType=DECIMAL},
      </if>
      <if test="rkry != null">
        RKRY = #{rkry,jdbcType=VARCHAR},
      </if>
      <if test="rksj != null">
        RKSJ = #{rksj,jdbcType=DATE},
      </if>
      <if test="gxry != null">
        GXRY = #{gxry,jdbcType=VARCHAR},
      </if>
      <if test="gxsj != null">
        GXSJ = #{gxsj,jdbcType=DATE},
      </if>
      <if test="ylzd1 != null">
        YLZD1 = #{ylzd1,jdbcType=VARCHAR},
      </if>
      <if test="ylzd2 != null">
        YLZD2 = #{ylzd2,jdbcType=VARCHAR},
      </if>
      <if test="ylzd3 != null">
        YLZD3 = #{ylzd3,jdbcType=VARCHAR},
      </if>
    </set>
    where FZBH = #{fzbh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kedacom.ezFireAPI.qj.bean.BQjGnfz">
    update B_QJ_GNFZ
    set FZMC = #{fzmc,jdbcType=VARCHAR},
      FZJB = #{fzjb,jdbcType=DECIMAL},
      FZXS = #{fzxs,jdbcType=VARCHAR},
      FZMS = #{fzms,jdbcType=VARCHAR},
      FJFZBH = #{fjfzbh,jdbcType=VARCHAR},
      FZNBBM = #{fznbbm,jdbcType=VARCHAR},
      XSSX = #{xssx,jdbcType=DECIMAL},
      RKRY = #{rkry,jdbcType=VARCHAR},
      RKSJ = #{rksj,jdbcType=DATE},
      GXRY = #{gxry,jdbcType=VARCHAR},
      GXSJ = #{gxsj,jdbcType=DATE},
      YLZD1 = #{ylzd1,jdbcType=VARCHAR},
      YLZD2 = #{ylzd2,jdbcType=VARCHAR},
      YLZD3 = #{ylzd3,jdbcType=VARCHAR}
    where FZBH = #{fzbh,jdbcType=VARCHAR}
  </update>

</mapper>